* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #4d5bf9;
}

/*
.tabs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e4e9fd;
}
h3{
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    background-size: cover;
    background: url("../img/type_carpeta_lightBlue.png") center no-repeat;
}

.tab-content{
    background-color: #FFFFFF;
    padding: 1em 1.5em;
}
.tab-content h4{
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #000024;
    font-weight: 600;
}
.tab-content p{
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}
.tab-content div{
    display: none;
}

.tab-content .active{
    display: block;
}
.tabs .active{
    background-color: #FFFFFF;
    color: #4d5bf9;
}*/
/*CARPETAS entre otra carpeta*/
.container{
    background-color: #FFFFFF;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 20px 20px 20px 20px;
}
:root{
    --width: 128px;
    --heightTab: 100px;
}
.cuadrado{
    width: 128px;
    height: var(--heightTab);
    background: url("../img/type_carpeta_lightBlue.png") center no-repeat;
    position: relative;
    border: 3px solid salmon;
}
.circulo{
    width: 128px;
    height: var(--heightTab);
    position: relative;
    background: url("../img/carpeta2.png") center no-repeat;
    border: 3px solid blueviolet;
    top: calc( (var(--heightTab)/1.5) -  (var(--heightTab)) );

}
.triangulo{
    width: 128px;
    height: var(--heightTab);
    position: relative;
    background: url("../img/type_carpeta_lightBlue.png") center no-repeat;
    border: 3px solid deeppink;
    top: calc( (var(--heightTab)/2) -  (var(--heightTab)*1.2) );

}